USE [master]
GO
/****** Object:  Database [VocarParacin]    Script Date: 10/27/2020 12:27:59 PM ******/
CREATE DATABASE [VocarParacin]
 CONTAINMENT = NONE
 ON  PRIMARY 
GO

USE [VocarParacin]
GO
/****** Object:  Table [dbo].[Kupac]    Script Date: 10/27/2020 12:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kupac](
	[ID] [int] NOT NULL,
	[Ime] [nvarchar](20) NULL,
	[Prezime] [nvarchar](20) NULL,
	[Email] [nvarchar](20) NULL,
	[Telefon] [nvarchar](20) NULL,
	[MestoID] [int] NULL,
 CONSTRAINT [PK_Kupac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 10/27/2020 12:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesto](
	[ID] [int] NOT NULL,
	[Naziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mesto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parcela]    Script Date: 10/27/2020 12:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcela](
	[ID] [int] NOT NULL,
	[Broj] [nvarchar](50) NULL,
	[Opis] [nvarchar](50) NULL,
	[Povrsina] [numeric](11, 2) NULL,
	[TipID] [int] NULL,
	[MestoID] [int] NULL,
	[VlasnikID] [int] NULL,
 CONSTRAINT [PK_Parcela] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prodaja]    Script Date: 10/27/2020 12:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodaja](
	[KupacID] [int] NOT NULL,
	[ParcelaID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Cena] [numeric](11, 2) NULL,
 CONSTRAINT [PK_Prodaja] PRIMARY KEY CLUSTERED 
(
	[KupacID] ASC,
	[ParcelaID] ASC,
	[Datum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipParcele]    Script Date: 10/27/2020 12:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipParcele](
	[ID] [int] NOT NULL,
	[Naziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_TipParcele] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vlasnik]    Script Date: 10/27/2020 12:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vlasnik](
	[ID] [int] NOT NULL,
	[Ime] [nvarchar](20) NULL,
	[Prezime] [nvarchar](20) NULL,
	[Email] [nvarchar](20) NULL,
	[Telefon] [nvarchar](20) NULL,
	[MestoID] [int] NULL,
 CONSTRAINT [PK_Vlasnik] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Kupac]  WITH CHECK ADD  CONSTRAINT [FK_Kupac_Mesto] FOREIGN KEY([MestoID])
REFERENCES [dbo].[Mesto] ([ID])
GO
ALTER TABLE [dbo].[Kupac] CHECK CONSTRAINT [FK_Kupac_Mesto]
GO
ALTER TABLE [dbo].[Parcela]  WITH CHECK ADD  CONSTRAINT [FK_Parcela_Mesto] FOREIGN KEY([MestoID])
REFERENCES [dbo].[Mesto] ([ID])
GO
ALTER TABLE [dbo].[Parcela] CHECK CONSTRAINT [FK_Parcela_Mesto]
GO
ALTER TABLE [dbo].[Parcela]  WITH CHECK ADD  CONSTRAINT [FK_Parcela_TipParcele] FOREIGN KEY([TipID])
REFERENCES [dbo].[TipParcele] ([ID])
GO
ALTER TABLE [dbo].[Parcela] CHECK CONSTRAINT [FK_Parcela_TipParcele]
GO
ALTER TABLE [dbo].[Parcela]  WITH CHECK ADD  CONSTRAINT [FK_Parcela_Vlasnik] FOREIGN KEY([VlasnikID])
REFERENCES [dbo].[Vlasnik] ([ID])
GO
ALTER TABLE [dbo].[Parcela] CHECK CONSTRAINT [FK_Parcela_Vlasnik]
GO
ALTER TABLE [dbo].[Prodaja]  WITH CHECK ADD  CONSTRAINT [FK_Prodaja_Kupac] FOREIGN KEY([KupacID])
REFERENCES [dbo].[Kupac] ([ID])
GO
ALTER TABLE [dbo].[Prodaja] CHECK CONSTRAINT [FK_Prodaja_Kupac]
GO
ALTER TABLE [dbo].[Prodaja]  WITH CHECK ADD  CONSTRAINT [FK_Prodaja_Parcela] FOREIGN KEY([ParcelaID])
REFERENCES [dbo].[Parcela] ([ID])
GO
ALTER TABLE [dbo].[Prodaja] CHECK CONSTRAINT [FK_Prodaja_Parcela]
GO
USE [master]
GO
